{% extends "base.html" %}
{% block title %}Страница для отладки{% endblock %}
{% block content %}
<table class="blueTable">
    <thead>
    <tr>
        <td>id</td>
        <td>first_name</td>
        <td>last_name</td>
        <td>age</td>
        <td>email</td>
        <td>role</td>
        <td>phone</td>
    </tr>
    </thead>
    <tbody>
    {% for item in s %}
    <tr>
        <td><a href="/user/{{ item.id }}">{{ item.id }}</a></td>
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.role }}</td>
        <td>{{ item.phone }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
{% block footer %}
<form method="POST">
    <p><b>Имя:</b><br><input type="text" name="append_user_first_name">
    <p><b>Фамилия:</b><br><input type="text" name="append_user_last_name">
    <p><b>Возраст:</b><br><input type="text" name="append_user_age">
    <p><b>Почта:</b><br><input type="email" name="append_user_email">
    <p><b>Права:</b><br><input type="text" name="append_user_role">
    <p><b>Телефон:</b><br><input type="text" name="append_user_phone">
<button input type="submit" class="blueTable">Добавить пользователя</button>
</form>
{% endblock %}
